/*
变量 
@height:100px
@box:box;

直接使用以@变量名的形式使用
作为类名使用以@{变量名}的形式使用

*/
div {
  width: 100px;
  height: 100px;
}
div div {
  width: 10px;
  height: 20px;
}
div div .div1 {
  background-color: #ff0;
}
div div .box {
  width: 50px;
}
